* {
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

.recipelist {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.recipeimg {
    width: 200px;
    height: auto;
}

.dishimg {
    width: 300px;
    height: auto;
}

.header {
    display: flex;
    justify-content: center;
}

h1#headtitle {
    text-align: center;
    background-color: gold;
    color: black; 
    padding: 1em;
    width: 9em;
    height: 3em;
    display: flex;
    align-items: center;
    font-size: 2em;
}
